
body {
  background-image: url("levcube.png");
  background-repeat: no-repeat;
  background-position: cover; background-size:cover;
  background-attachment: fixed;
}

<body>

<h1> WHy </h1>
    <p> Document Body </p>
</body>